.dark .monaco-editor span {
  color: white !important;
}
.monaco-editor span {
  color: black !important;
}

.monaco-editor,
.monaco-editor-background {
  background-color: transparent !important;
}

.monaco-editor .mtk6, .monaco-editor .mtk20 {
  color: #777777 !important;
}

.dark .monaco-editor .mtk5, .dark .monaco-editor .mtk8 {
  color: #777777 !important;
}

.copy-button {
  transition: background 200ms, box-shadow 200ms, opacity 200ms;
}
