.dark .monaco-editor span {
  @apply !text-white;
}
.monaco-editor span {
  @apply !text-black;
}

.monaco-editor,
.monaco-editor-background {
  @apply !bg-transparent;
}

.monaco-editor .mtk6,
.monaco-editor .mtk20,
.monaco-editor .mtk8 {
  @apply !text-muted-foreground;
}

.dark .monaco-editor .mtk5,
.dark .monaco-editor .mtk8 {
  @apply !text-muted-foreground;
}

.copy-button {
  transition: background 200ms, box-shadow 200ms, opacity 200ms;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
